{% extends 'base.html' %}
{% block content %}
{% load static %}
 <!--/ sidebar  -->
    <!--/ menu  -->
<div class="main_content_iner overly_inner ">
        <div class="container-fluid p-0 ">
            <!-- page title  -->
            <div class="row">
                <div class="col-12">
                    <div class="page_title_box d-flex align-items-center justify-content-between">
                        <div class="page_title_left">
                            <!-- <h3 class="f_s_30 f_w_700 text_white" >Dashboard</h3>
                            <ol class="breadcrumb page_bradcam mb-0">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Salessa </a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item active">Sales</li>
                            </ol> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12">
                    <div class="white_card">
                        <h4 class="p-3 f_s_30 f_w_700">Business Management</h4>
                        <table class="table lms_table_active">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Contact Number</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for buisness in data %}
                                    <td>{{buisness.id}}</td>
                                    <td> <p><img src="{{ buisness.image.url }}" width="100px"></p></td>
                                    <td>{{buisness.name}}</td>
                                    <td>{{buisness.address}}</td>
                                    <td>{{buisness.contact}}</td>
                                    <td><a href="#" class="suspend_btn">Reply</a></td>
                                
                                </tr>
                                {% endfor %}
                                <!-- <tr>
                                    <th scope="row"> 2.</a></th>
                                    <td>
                                        <div class="img_cover">
                                            <img src="img/staf/1.png" class="rounded-lg me-2" alt="">
                                        </div>
                                    </td>
                                    <td>Pie Burger</td>
                                    <td>Guanajuato</td>
                                    <td>87451 94512</td>
                                    <td><a href="business_details.html" class="btn_1 ">View Details</a></td>
                                </tr>
                                <tr>
                                    <th scope="row"> 3.</a></th>
                                    <td>
                                        <div class="img_cover">
                                            <img src="img/staf/1.png" class="rounded-lg me-2" alt="">
                                        </div>
                                    </td>
                                    <td>Pie Burger</td>
                                    <td>Guanajuato</td>
                                    <td>87451 94512</td>
                                    <td><a href="business_details.html" class="btn_1 ">View Details</a></td>
                                </tr>
                                <tr>
                                    <th scope="row"> 4.</a></th>
                                    <td>
                                        <div class="img_cover">
                                            <img src="img/staf/1.png" class="rounded-lg me-2" alt="">
                                        </div>
                                    </td>
                                    <td>Pie Burger</td>
                                    <td>Guanajuato</td>
                                    <td>87451 94512</td>
                                    <td><a href="/Business/" class="btn_1 ">View Details</a></td>
                                </tr>
                                <tr>
                                    <th scope="row"> 5.</a></th>
                                    <td>
                                        <div class="img_cover">
                                            <img src="img/staf/1.png" class="rounded-lg me-2" alt="">
                                        </div>
                                    </td>
                                    <td>Pie Burger</td>
                                    <td>Guanajuato</td>
                                    <td>87451 94512</td>
                                    <td><a href="business_details.html" class="btn_1 ">View Details</a></td>
                                </tr>
                                <tr>
                                    <th scope="row"> 6.</a></th>
                                    <td>
                                        <div class="img_cover">
                                            <img src="img/staf/1.png" class="rounded-lg me-2" alt="">
                                        </div>
                                    </td>
                                    <td>Pie Burger</td>
                                    <td>Guanajuato</td>
                                    <td>87451 94512</td>
                                    <td><a href="business_details.html" class="btn_1 ">View Details</a></td>
                                </tr>
                                <tr>
                                    <th scope="row"> 7.</a></th>
                                    <td>
                                        <div class="img_cover">
                                            <img src="img/staf/1.png" class="rounded-lg me-2" alt="">
                                        </div>
                                    </td>
                                    <td>Pie Burger</td>
                                    <td>Guanajuato</td>
                                    <td>87451 94512</td>
                                    <td><a href="business_details.html" class="btn_1 ">View Details</a></td>
                                </tr>
                                <tr>
                                    <th scope="row"> 8.</a></th>
                                    <td>
                                        <div class="img_cover">
                                            <img src="img/staf/1.png" class="rounded-lg me-2" alt="">
                                        </div>
                                    </td>
                                    <td>Pie Burger</td>
                                    <td>Guanajuato</td>
                                    <td>87451 94512</td>
                                    <td><a href="business_details.html" class="btn_1 ">View Details</a></td>
                                </tr>
                                <tr>
                                    <th scope="row"> 9.</a></th>
                                    <td>
                                        <div class="img_cover">
                                            <img src="img/staf/1.png" class="rounded-lg me-2" alt="">
                                        </div>
                                    </td>
                                    <td>Pie Burger</td>
                                    <td>Guanajuato</td>
                                    <td>87451 94512</td>
                                    <td><a href="business_details.html" class="btn_1 ">View Details</a></td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- main content part end -->



<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<!-- popper js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- bootstarp js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- sidebar menu  -->
<script src="{% static 'js/metisMenu.js' %}"></script>

<!-- responsive table -->
<script src="{% static 'vendors/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/dataTables.buttons.min.js' %}"></script>

<!-- scrollabe  -->
<script src="{% static 'vendors/scroll/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'vendors/scroll/scrollable-custom.js' %}"></script>

<script src="{% static 'js/custom.js' %}"></script>
</body>

</html>
