{% extends 'base.html' %}

{% block content %}



<section class="main_content dashboard_part large_header_bg">
    <!-- menu  -->
<div class="container-fluid no-gutters">
    <div class="row">
        <div class="col-lg-12 p-0 ">
            <div class="header_iner d-flex justify-content-between align-items-center">
                <h3 class="f_s_30 f_w_700" >Welcome To Beach+</h3>
                <div class="sidebar_icon d-lg-none">
                    <i class="ti-menu"></i>
                </div>
                <div class="header_right d-flex justify-content-between align-items-center">
                    <div class="profile_info">
                        <img src="img/staf/2.png" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ menu  -->
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- page title  -->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex align-items-center justify-content-between">
                    <div class="page_title_left">
                        <!-- <h3 class="f_s_30 f_w_700 text_white" >Dashboard</h3>
                        <ol class="breadcrumb page_bradcam mb-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Salessa </a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Sales</li>
                        </ol> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12">
                <div class="white_card">
                    <h4 class="p-3 f_s_30 f_w_700">User Management</h4>
                    <table class="table lms_table_active">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Image</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">City</th>
                                <th scope="col">State</th>
                                <th scope="col">Zip Code</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for profile in data %}
                                <td>{{profile.id}}</td>
                                <td> <p><img src="{{ profile.image.url }}" width="100px"></p></td>
                                <td>{{profile.first_name}}</td>
                                <td>{{profile.city}}</td>
                                <td>{{profile.state}}</td>
                                <td>{{profile.zip}}</td>
                                <td><a href="#" class="suspend_btn" data-toggle="modal" data-target="#exampleModalCenter">Suspend</a></td>
                            </tr>
                            {% endfor %}
                         
                            </tr>
                            <!-- <tr>
                                <th scope="row"> 2.</a></th>
                                <td>
                                    <div class="img_cover">
                                        <img src="img/staf/1.png" class="rounded-lg me-2" alt="">
                                    </div>
                                </td>
                                <td>John Blake</td>
                                <td>Guanajuato</td>
                                <td>New Mexico</td>
                                <td>1248920</td>
                                <td><a href="#" class="suspend_btn" data-toggle="modal" data-target="#exampleModalCenter">Suspend</a></td>
                            </tr>
                            <tr>
                                <th scope="row"> 3.</a></th>
                                <td>
                                    <div class="img_cover">
                                        <img src="img/staf/1.png" class="rounded-lg me-2" alt="">
                                    </div>
                                </td>
                                <td>John Blake</td>
                                <td>Guanajuato</td>
                                <td>New Mexico</td>
                                <td>1248920</td>
                                <td><a href="#" class="suspend_btn" data-toggle="modal" data-target="#exampleModalCenter">Suspend</a></td>
                            </tr>
                            <tr>
                                <th scope="row"> 4.</a></th>
                                <td>
                                    <div class="img_cover">
                                        <img src="img/staf/1.png" class="rounded-lg me-2" alt="">
                                    </div>
                                </td>
                                <td>John Blake</td>
                                <td>Guanajuato</td>
                                <td>New Mexico</td>
                                <td>1248920</td>
                                <td><a href="#" class="suspend_btn" data-toggle="modal" data-target="#exampleModalCenter">Suspend</a></td>
                            </tr>
                            <tr>
                                <th scope="row"> 5.</a></th>
                                <td>
                                    <div class="img_cover">
                                        <img src="img/staf/1.png" class="rounded-lg me-2" alt="">
                                    </div>
                                </td>
                                <td>John Blake</td>
                                <td>Guanajuato</td>
                                <td>New Mexico</td>
                                <td>1248920</td>
                                <td><a href="#" class="suspend_btn" data-toggle="modal" data-target="#exampleModalCenter">Suspend</a></td>
                            </tr>
                            <tr>
                                <th scope="row"> 6.</a></th>
                                <td>
                                    <div class="img_cover">
                                        <img src="img/staf/1.png" class="rounded-lg me-2" alt="">
                                    </div>
                                </td>
                                <td>John Blake</td>
                                <td>Guanajuato</td>
                                <td>New Mexico</td>
                                <td>1248920</td>
                                <td><a href="#" class="suspend_btn" data-toggle="modal" data-target="#exampleModalCenter">Suspend</a></td>
                            </tr>
                            <tr>
                                <th scope="row"> 7.</a></th>
                                <td>
                                    <div class="img_cover">
                                        <img src="img/staf/1.png" class="rounded-lg me-2" alt="">
                                    </div>
                                </td>
                                <td>John Blake</td>
                                <td>Guanajuato</td>
                                <td>New Mexico</td>
                                <td>1248920</td>
                                <td><a href="#" class="suspend_btn" data-toggle="modal" data-target="#exampleModalCenter">Suspend</a></td>
                            </tr>
                            <tr>
                                <th scope="row"> 8.</a></th>
                                <td>
                                    <div class="img_cover">
                                        <img src="img/staf/1.png" class="rounded-lg me-2" alt="">
                                    </div>
                                </td>
                                <td>John Blake</td>
                                <td>Guanajuato</td>
                                <td>New Mexico</td>
                                <td>1248920</td>
                                <td><a href="#" class="suspend_btn" data-toggle="modal" data-target="#exampleModalCenter">Suspend</a></td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- main content part end -->

<!-- main content part end -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3 class="text-center">Do you really want to suspend user?</h3>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal">Yes, Sure</button>
    </div>
  </div>
</div>
</div>

{% endblock %}